/* htmlで以下を呼び出す
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet"> */
/* @import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

* {
    font-family: 'Cherry Swash', cursive, "HanziPen SC";
} */

html{
    font-family: 'Kiwi Maru', serif;
    color: white;
}
/*サイドバー*/
#gnav{
    z-index: 9999;
    position: fixed;
        top: 6.25%;
        left: 2.%;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }
    #gnav h2 img{
        width:45px;
        height:60px
    }
    #gnav ul {
        margin-top: 30px;
        line-height: 40px;
    }
    #gnav ul li {
        display: inline-block;
        margin-bottom: 25px;
    
    }
    #gnav ul li a {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        text-decoration:none;
        color:white;
          /* text-stroke: 2px #000; */
      /* -webkit-text-stroke: 0.5px #fff; */
    }
    nav h2{
            position: absolute;
        top: 0;
        left: 0;
    }
    /*サイドバーend*/

      /* 背景start */
#particles-js {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color:#006888;
  }
  
  #background_set {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  /* 背景end */


  /*========= topに行くためのCSS start===============*/

/*リンクの形状*/
#page-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #942D2F;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6rem;
    transition: all 0.3s;
  }
  
  #page-top a:hover {
    background: #777;
  }
  
  /*リンクを右下に固定*/
  #page-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove {
    animation: UpAnime 0.5s forwards;
  }
  
  @keyframes UpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove {
    animation: DownAnime 0.5s forwards;
  }
  
  @keyframes DownAnime {
    from {
      opacity: 1;
      transform: translateY(0);
    }
  
    to {
      opacity: 1;
      transform: translateY(100px);
    }
  }
  
  /*========= topに行くためのCSS end===============*/