.container {
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 80%;
    height: auto;

}

body {
    margin-left: 0px;
    margin-top: 0px;
    /* padding-top:0px; */

}

.main_contents {
    background-color: white;
    width: 100%;
    /* height: 2500px; */
    height:auto;
    margin-bottom: 30px;
    /* margin-top: 20px; */
    padding-bottom: 20px;
}

section {
    border-radius: 30px;
    background-color:#006888 ;
    margin: 0px auto;
    /* padding-top:70px;
    padding-bottom:70px; */
    margin-bottom:20px;
    width: 80%;
    height: 400px;
    border: 1px solid #000;
    text-align: center;
}

.main_contents h2 {
    padding-top: 30px;
    text-align: center;
    color: black;
}

.main_contents {
    /* color:#006888 !important; */
    color:white;
}

.content_article {

    border-radius: 20px;
    margin: 0px auto;
    margin-top:10px;
    width: 80%;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    background-color: white;
    color: black;
}
.content_article p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
} 